<div>

      <div>
      	    <label>State:</label>
            <br>
            <input type="text" name="state" id="State" value="Kansas">&nbsp;<span id="errmsg"></span>
            <br>
            <label>Population: (min)</label>
            <br>
            <input type="text" name="minPopulation" id="minPopulation" value="25000">&nbsp;<span id="errmsg"></span>
            <br>            
            <label>Population: (max)</label>
            <br>
            <input type="text" name="maxPopulation" id="maxPopulation" value="125000">&nbsp;<span id="errmsg"></span>
            <br>
      </div>

	<button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-pencil-square-o fa-fw',showLabel:true,disabled:false" data-dojo-attach-point="btnFilter" data-dojo-attach-event="click:onFilter">Filter</button>
	<button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-trash-o fa-fw',showLabel:true,disabled:false" data-dojo-attach-point="btnClear" data-dojo-attach-event="click:onClear">Remove</button>

</div>
